/* ****** clickable icons **************** */
.iconclickable:hover
{
background:#e4e4e4;
color:#233356;
}

/* ****** input validation **************** */
input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}

/* ******  bootstrap navbar  ************ */
.navbar 
{
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
/* font-family: 'lucida sans unicode', 'lucida grande', lucida, sans-serif !important; */
  font-size: 12px !important; 
  font-weight: bold !important; 
  background-color:#0899cc !important;
  color:red !important;
  border: none !important;  
}



element {
}

.panel-body {
    padding: 0px !important;
}

.navbar {
        background-color: #0899cc   !important;
}
.navbar .navbar-default {
        background-color: #0899cc    !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: white !important;
    background-color: #0899cc  !important;
}
.navbar .navbar-nav > li > a, .navbar-brand {
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.navbar-default .navbar-nav > li > a {
    color: #E5E5E4 !important;
    background-color:#0899cc   !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #274853    !important;
        color: white  !important;
    background-color: #0899cc    !important;
}

.navbar-header {
        background-color: #0899cc    !important;
}

.container-fluid {
    margin-right: 0px  !important;
    margin-left: 0px !important;
    padding-left: 0px  !important;
    padding-right: 0px  !important;
}


.iconclass
{
height:40px !important;	
}

.dropdown-menu
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px !important;
    border-style:none !important;
    background-color: #ABC6CF !important;

}

.dropdown-toggle
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px !important;
    border-style:none !important;
    background-color: #0899cc !important;
    color: white !important;
}



.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: white !important;
    white-space: nowrap;
    background-color: #0899cc  !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #044767 !important;
    background-color:  #ABC6CF !important;
}

.input-group-addon 
{ 
   width: 80px !important;
   min-width: 80px !important;
}

.input-group
{
   width:100% !important;
}

.form-group {
    margin-bottom: 15px;
}



.btn:hover,
.btn:focus,
.btn.focus {
  background-image:none;
}

.label-as-header {
    font-size:60px !important;}

 @media (max-width: 768px) {
  .btn-responsive {
    padding: 5px 10px !important;
  	font-size: 12px !important;
  	line-height: 1.5 !important;
  	border-radius: 3px !important;
 	}
  .input-responsive {
	    height: 30px !important;
	  padding: 5px 10px !important;
	  font-size: 12px !important;
	  line-height: 1.5 !important;
	  border-radius: 3px !important;
   }
   .label-as-header {
    font-size:40px !important;}
    
    
}
@media (max-width: 544px) {
  .btn-responsive {
    padding:1px 5px !important;
    font-size:12px !important;
    line-height: 1.5 !important;
    order-radius: 3px !important;
   }
   .label-as-header {
    font-size:30px !important;}
}
 
 
 
.label-as-header2 {
    font-size:45px !important;}

 @media (max-width: 768px) {
  .btn-responsive {
    padding: 5px 10px !important;
  	font-size: 12px !important;
  	line-height: 1.5 !important;
  	border-radius: 3px !important;
 	}
  .input-responsive {
	    height: 30px !important;
	  padding: 5px 10px !important;
	  font-size: 12px !important;
	  line-height: 1.5 !important;
	  border-radius: 3px !important;
   }
   .label-as-header2 {
    font-size:38px !important;}
}

@media (max-width: 544px) {
  .btn-responsive {
    padding:1px 5px !important;
    font-size:12px !important;
    line-height: 1.5 !important;
    order-radius: 3px !important;
   }
   .label-as-header2 {
    font-size:20px !important;}
}
 
.navbar-nav > li > a {
            cursor: pointer !important;
}
.dropdown-menu > li > a {
            cursor: pointer !important;
}

